@CHARSET "UTF-8";@CHARSET "UTF-8";
body {
	height:auto;
	clear:both;
/* 	font-family:'Cinzell',serif; */
/*  	font-weight:bold; */
 	}


.main {
	width:100%;
	min-height:700px;

 	padding-bottom:50px;

	/*background:grey;背景素材に差し替え*/
	background-image: url("../images/haikei24.jpg");
	background-size:100% 100%;
/*   	background-size: contain; */
/*   background-size: cover;  */
/* 	background-position: */
	}

/* .main2{ */
/* 	width:100%; */
/* 	min-height:700px; */
/*  	padding-bottom:150px; */
/* 	height:100%; */
/* 	background-color:rgba(90,120,220,0.7); */
/*  	background-size: cover;  */
/*  	margin-bottom: 150px;  */
/* 	} */

.container{
	position:relative;
	width:35%;
	height:800px;
/* 	background:black; */
	margin-left : 30%;
	margin-right: 30%;
	border-radius:50px;
	background-color:rgba(255,255,255,0.4);
	border:solid 1px gray;
/* 	padding-top: 50px; */

}

#title1 {
	width:100%;
	height:150px;

/* 	background:black; */

	font-size:80px;
	line-height:200px;
/* 	border-bottom:solid 1px red; */

/* 	margin-bottom:150px; */

	color:black;
	font-family:'Cinzell',serif;
	text-align:center;
	text-shadow: 1px 2px 3px white;
	}

#title2 {
	width:100%;
/* 	height:150px; */

/* 	background:black; */

	font-size:80px;
	line-height:70px;
/* 	border-bottom:solid 1px red; */

/* 	margin-bottom:150px; */

	color:black;
	font-family:'Cinzell',serif;
	text-align:center;
	text-shadow: 1px 2px 3px white;
	}
/* 	.ribbon_box3{ */
/*     display: block; */
/*     position: relative; */
/*     margin: 15px auto; */
/*     padding: 10px 0; */
/*     width: 300px; */
/*     height: 150px; */
/*     background: #f1f1f1; */
/*     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14); */
/*     box-sizing: border-box; */
/* } */

.ribbon_area {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 89px;
    height: 91px;
    overflow: hidden;
  }

.ribbon14 {
    display: inline-block;
    position: absolute;
    padding: 7px 0;
    left: -23px;
    top: 22px;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    background: black;
    color: #fff;
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ribbon14:before,.ribbon14:after{
    position: absolute;
    content: "";
    border-top: 4px solid #b2751b;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    bottom: -4px;
}

.ribbon14:before{
    left: 14px;
}

.ribbon14:after{
  	right: 18px;
}

#hako {
	border:4px gray ridge;
 }

/* #title-address { */
/* 	width:100%; */
/* 	height:150px; */

/* 	background:black; */

/* 	font-size:80px; */
/* 	line-height:200px; */
/* 	border-bottom:solid 1px red; */

/* 	margin-bottom:150px; */

/* 	color:white; */
/* 	font-family:'Cinzell',serif; */
/* 	text-align:center; */
/* 	text-shadow: 1px 2px 3px white; */
/* 	} */

table {
/*  	position: absolute; */
	margin:0 auto;
/* 	top:55%; */
/* 	left:50%; */
	text-align:left;
	 color:black;
 	clear:both;
 	padding-top: 30px;

/*   	-webkit-transform: translate(-50%,-50%); */
/*   	-moz-transform: translate(-50%,-50%); */
/*   	-ms-transform: translate(-50%,-50%); */
/*   	-o-transform: translate(-50%,-50%); */
/*   	transform: translate(-50%,-50%); */
 	}

/* #wrapper{ */
/* 	width:65%; */
/* 	height:200px; */
/* 	padding-top:280px; */
/* 	padding-bottom:120px; */
/* 	padding-left:5%; */
/* 	padding-right:10%; */
/* 	background:white; */
/* 	margin-left:10%; */
/* 	margin-right:10%; */
/* 	}  */

.member_form_title {
/* 	margin:20px; */
	float:left;
 	font-size: 18px;
/*  	text-shadow: 1px 2px 3px #808080; */
	font-weight:bold;
	}

/* .error { */
/* 	float:right; */
/* 	} */

.error-message {
	text-align: left;
	color:red;
 	font-size: 16px;
	}

.box{
	margin:20px;
/*  	 box-shadow: 0 0 8px gray;  */
/*  	 box-shadow: 2px 2px 4px gray; */
 	 -webkit-border-radius:10px;
/*  	 background-color: black; */
	}

.check {
/* 	text-align: center; */
/* 	margin-top: 30px; */
	clear:both;
	}

.button1 {
  	text-align: center;
/*    	padding-top: 570px; */
/*   	margin-left:10px; */
  /* 	margin-top: 485px; */
/*   	margin-top: 480px; */
/*   	clear:both; */
	/*margin-right:10px;*/
 	}

.button3 {
  	text-align: center;
/*   	padding-top: 570px; */
  	margin-left:10px;
  /* 	margin-top: 485px; */
/*   	margin-top: 480px; */
/*   	clear:both; */
	/*margin-right:10px;*/
/* 	padding-bottom: 30px */
 	}
 .button4 {
/* /* 文字サイズを1.emに指定 */ */
/* /*     font-size: 1em; */ */
/*     font-size:15px; */
/*     文字の太さをboldに指定 */
/*     font-weight: bold; */
/*     縦方向に10px、
/*      * 横方向に30pxの余白を指定 */ */
/*     padding: 3px 10px; */
/*     文字色を白色に指定 */
/*     color: white; */
/*     ボーダーをなくす */
/*     border-style: none; */
/*     ボタンの影の指定
/*      * 影の横幅を2px */
/*      * 縦長を2px */
/*      * ぼかしを3px */
/*      * 広がりを1px */
/*      * 色を#666（グレー）に指定 */ */
/* /*      box-shadow: 2px 2px 3px 1px #ffffff; */ */
/* /*      -moz-box-shadow: 2px 2px 3px 1px #ffffff; */ */
/* /*     -webkit-box-shadow: 2px 2px 3px 1px #ffffff; */ */
/*     テキストの影の指定
/*      * 影の横幅を1px */
/*      * 縦長を1px */
/*      * ぼかしを2px */
/*      * 色を#000（黒）に指定 */ */
/*     text-shadow: 1px 1px 2px #000; */
/*      background-color: #000000; */
/*    グラデーションの指定 */
/*      background: -moz-linear-gradient(bottom, #36d, #000000 50%, #36d); */
/* /*      background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.5, #ffffff), to(#000)); */ */
/*      font-family: 'Cinzel', serif; */

	position: relative;
	display: block;
	width: 100px;
	padding: 0.8em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
	background: black;
	transition: .4s;
	border-radius: 4px;

	display: inline-block;

	margin:0 auto;
}

.button4:hover {
/*     background-color: #000000; */
/*     文字色を白色に指定 */
/*     color: #fff; */
/*     opacity: 0.8; */
	text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
	transition: .4s;
}



/* table, td{ */
/*     border: 1px solid #000000; */
/*     } */