@CHARSET "UTF-8";@CHARSET "UTF-8";


	/* ========TAG LAYOUT======== */

		* {
/* 			font-family:'Hiragino Kaku Gothic Pro W3','Hiragino Kaku Gothic ProN',Meiryo,sans-serif; */
			text-decoration:none;
		}

		body {
			margin:0;
			padding:0;
			line-height:1.6;
			letter-spacing:1px;
/* 			font-family:Verdana,Helvetica,sans-serif; */
			font-size:12px;
			color:#333;
			background:#fff;

		}


/* 		header { */
/* 			margin:0 auto; */
/* 			padding:0; */
/* 			height:100px; */
/* 			background:black; */
/* 			text-align:left; */
/* 			color:#fff; */
/* 			font-size:60px; */
/* 			line-height: 200px; */


/* 		} */



		table {
			text-align:left;
			margin:0 auto;
		}

		tr {
			padding-left:10px;
			/* text-align:left; */
		}

		td {
			padding-left:10px;
			/* text-align:left; */
		}

		footer {
			height:200px;
		}

		h6 {
			margin:0 auto;
		}

		img{
			border-radius:10px;
		}

		#title1 {
		width:100%;
		height:150px;
		font-size:80px;
		color:black;
		font-family:'Cinzell',serif;
		text-align:center;
		text-shadow: 1px 2px 3px white;
		}





	/* ========ID LAYOUT======== */

		#title {
 			margin:0px auto;
/*  			border:1px solid #333; */
 			text-align:left;
 		}

		#main {
			padding-top:50px;
			/*padding-bottom:150px; */
		}

		#container {
			position:relative;
			width:auto;
			background:#fff;
			text-align:center;
			padding-top:50px;
			padding-bottom:50px;
			margin-left : 20%;
			margin-right: 20%;
			border-radius:50px;
			background-color:rgba(255,255,255,0.4);
			border:solid 1px gray;

		}

		#form {
			/* height:200px;
			background:#fff;*/
		}

	/* ========CLASS LAYOUT======== */

		.insert_box{
			text-align:center;
			margin-bottom: 50px;

		}


		.insert_btn{
/* 			margin-top:10px; */
/* 			font-size:10px; */
/* 			文字サイズを1.emに指定 */
/* 			    font-size: 1em; */
/*     		font-size:15px; */
/*     		文字の太さをboldに指定 */
/*     		font-weight: bold; */
/*     		縦方向に10px、
/*      		* 横方向に30pxの余白を指定 */ */
/*     		padding: 3px 10px; */
/*     		文字色を白色に指定 */
/*     		color: white; */
/*     		ボーダーをなくす */
/*     		border-style: none; */
/*     		ボタンの影の指定
/*     		 * 影の横幅を2px */
/*      		* 縦長を2px */
/*      		* ぼかしを3px */
/*      		* 広がりを1px */
/*      		* 色を#666（グレー）に指定 */ */
/* 			     box-shadow: 2px 2px 3px 1px #ffffff; */
/* 			     -moz-box-shadow: 2px 2px 3px 1px #ffffff; */
/* 			    -webkit-box-shadow: 2px 2px 3px 1px #ffffff; */
/*     		テキストの影の指定
/*      		* 影の横幅を1px */
/*      		* 縦長を1px */
/*      		* ぼかしを2px */
/*      		* 色を#000（黒）に指定 */ */
/*     		text-shadow: 1px 1px 2px #000; */
/*     		 background-color: #000000; */
/*    			グラデーションの指定 */
/*      		background: -moz-linear-gradient(bottom, #36d, #000000 50%, #36d); */
/* 			     background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.5, #ffffff), to(#000)); */
/*      		font-family: 'Cinzel', serif; */

	position: relative;
	display: block;
	width: 100px;
	padding: 0.8em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
	background: black;
	transition: .4s;
	border-radius: 4px;

	display: inline-block;

	margin:0 auto;
			}


			.insert_btn:hover {
/*     		background-color: #000000; */
/*     		文字色を白色に指定 */
/*     		color: #fff; */
/*     		opacity: 0.8; */

	text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
	transition: .4s;
			}


		.errorMessage {
			color:#ff0000;
			/* border:1px solid black; */
		}

		/* .large-table {
			text-align:left;
		}
		*/

		.small-table {
			margin-left:0;
		}

		.price_and_btns{
			margin-top:25px;
			margin-bottom:25px;
			font-size:20px;
		}

		.submit_btn_set{
			margin-top:5px;
			margin-bottom:5px;

		}
		.contents-btn-set{
			display: inline-block;
			margin-right: 10px;
			font-size:10px;
						margin-top:10px;
			font-size:10px;
			/* 文字サイズを1.emに指定 */
			/*     font-size: 1em; */
    		font-size:15px;
    		/* 文字の太さをboldに指定 */
    		/*font-weight: bold; */
    		/* 縦方向に10px、
     		* 横方向に30pxの余白を指定 */
    		padding: 3px 10px;
    		/* 文字色を白色に指定 */
    		color: white;
    		/* ボーダーをなくす */
    		border-style: none;
    		/* ボタンの影の指定
    		 * 影の横幅を2px
     		* 縦長を2px
     		* ぼかしを3px
     		* 広がりを1px
     		* 色を#666（グレー）に指定 */
			/*      box-shadow: 2px 2px 3px 1px #ffffff; */
			/*      -moz-box-shadow: 2px 2px 3px 1px #ffffff; */
			/*     -webkit-box-shadow: 2px 2px 3px 1px #ffffff; */
    		/* テキストの影の指定
     		* 影の横幅を1px
     		* 縦長を1px
     		* ぼかしを2px
     		* 色を#000（黒）に指定 */
    		text-shadow: 1px 1px 2px #000;
    		 background-color: #000000;
   			/* グラデーションの指定 */
     		background: -moz-linear-gradient(bottom, #36d, #000000 50%, #36d);
			/*      background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.5, #ffffff), to(#000)); */
     		font-family: 'Cinzel', serif;
		}

		.contents-btn-set:hover {
    		background-color: #000000;
    		/* 文字色を白色に指定 */
    		color: #fff;
    		opacity: 0.8;
		}

